API_NAME=products-aggregator
API_VERSION=1.0.0
NODE_ENV=development
HOST=http://localhost:3000
PORT=3000
CATALOG_URL=http://catalog:3000
STOCK_URL=http://stock:3000
STOCK_JWT_TOKEN=
REDIS_URL=redis://redis:6379
